@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 스타일 */

#root {
   position: relative;
   width: 100%;
   min-width: 20rem;
   max-width: 48rem;
   height: 100dvh;
   background-color: #f5f5f4;
   overflow-y: auto;

   img {
      user-select: none;
   }
}

/* 한글 줄바꿈 스타일 지정 */

.break-keep {
   word-break: keep-all;
}

main {
   padding: 1rem 1rem 3rem;
}

@layer components {
   .focus-green {
      @apply p-1 focus-visible:rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-700;
   }

   /* 앱바 + 바텀 내비게이션 X 페이지 */
   .center-layout {
      @apply flex h-[100dvh] flex-col items-center justify-center;
   }

   /* 앱바+바텀 내비게이션 O 페이지 */
   .center-content {
      @apply h-[calc(100dvh-124px)];
   }

   /* 앱바만 있는 페이지 */
   .center-appbar-content {
      @apply flex h-[calc(100dvh-64px)] flex-col items-center justify-center;
   }

   .outline-base {
      @apply w-full rounded border-none bg-stone-100 p-3 text-base font-normal placeholder-current outline-none focus:ring-2;
   }

   .outline-default {
      @apply outline-base ring-1 ring-stone-950 focus:ring-stone-950;
   }

   .outline-success {
      @apply outline-base text-green-700 ring-2 ring-green-700 focus:ring-green-700;
   }

   .outline-error {
      @apply outline-base text-red-600 ring-2 ring-red-600 focus:ring-red-600;
   }
}
